.navigation-container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
a{
    text-decoration: none !important;
    color:white !important;
    font-size: 14px;
    margin-right: 15px !important;
}
.new{
    position: relative;
}
.new::before{
    content: "NEW";
    font-size: 10px;
    font-weight: bold;
    position:absolute;
    top:-8px;
    color:red;
    right:-15px;


}