.ceat-container
{
    background-color: #fafafa;
    overflow: auto;
}
.ceat-header{
    color: white;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ceat-row
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.ceat{
   display: flex;
}
.ceat-no{
    height: 25px;
    width: 25px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #4abd5d;
    border-radius: 2px;
    font-size: 10px;
    color: #4abd5d;
    background: #fff;
}
.ceat-no:hover{
    background-color: #4abd5d;
    color: white;
}
.last-ceat{
    background-color: grey;
    border: 2px solid white;
    color: white;
}
.last-ceat:hover{
    background-color: grey;
    color: white;
}
.space
{
    margin-bottom: 50px;
}
.last-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    height: 25px;
    width: 100px;
    background-color: gray;
    transform: skew(40deg);
}
.seat-legent-wrapper{
    display: flex;
    justify-content: center;
    background-color: white;
}
.seat-legent-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}
.seat-legent-inner{
    display: flex;
    justify-content: space-around;  
    padding: 1rem; 
}
.seat-legent{
    display: flex;
    align-items: center;
}
.seat-box{
    height: 20px;
    width: 20px;
    border-radius: 2px;
    margin-right: 0.5rem;
}
.box1{
    background-color: gray;
}
.box2{
    border: 1px solid #4abd5d;
}
.box3{
    background-color: #4abd5d;
}
.selectSeat{
    background-color: #4abd5d;
    color: #fff;
}
.error{
    background-color: #cccccc;
}